.jungle{
    background-image: url("../images/forest.png");
    height:600px;
    width:800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 10px 10px #888888;
}

.beast img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height:200px;
}
.box{
    display: inline-block;
    width:49%;
    text-align: center;
}
.stats{
    height:360px;
}
.hero img{
    height:200px;
}
.hero .health{
    text-align: left;
}
.beast .health{
    text-align: right;
}
.health{
    color:white;
}
.stats{
    display: inline-block;
    color:white;
}
.stats img{
    height:25px;
    filter: invert(100%);
}
.btn-fight{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.58);
}
.damage-hit{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 80%;
    /*left: 70%;*/
    transform: translate(-50%, -50%);
    z-index: 20;
    background-image: url(../images/blood.png);
    height: 100px;
    background-size: 100%;
    width: 100px;
    padding: 40px 0px 0px 30px;

}
.damage-hit.left{
    left: 70%;
}
.damage-hit.right{
    left: 30%;
}
.damage-hit img{
    height:25px;
    filter: invert(100%);
}
.message_popup{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.58);
    padding: 30px;
    font-size: 25px;
    font-weight: bold;
}
.message_popup_skills{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.58);
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.move-to-left{
    -webkit-animation-name:  move-to-left; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name:  move-to-left;
    animation-duration: 2s;
    position:relative;
}
.move-to-right{
    -webkit-animation-name:  move-to-right; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name:  move-to-right;
    animation-duration: 2s;
    position:relative;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes  move-to-right {
    from {left:0px}
    to {left:320px;}
}
/* Standard syntax */
@keyframes move-to-right {
    from {left:0px }
    to { left:320px;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes  move-to-left {
    from { right:0px; }
    to {right:320px;}
}
/* Standard syntax */
@keyframes move-to-left {
    from {  right:0px; }
    to { right:320px;}
}